* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: #ddd;
  background-color: #333;
  font-family: 'Montserrat', sans-serif;
}

#img-music {
  height: 280px;
}

#duration {
  margin-top: 20px;
}

#img-music,
#description,
#duration {
  width: 280px;
}

#bar {
  width: 280px;
  height: 5px;
  border: 1.9px solid #eee;
  border-radius: 5px;
  display: flex;
  text-align: center;
  justify-content: flex-start;
}
progress {
  width: 0%;
  height: 5px;
  background-color: #333;
}
#point-bar {
  width: 15px;
  height: 15px;
  background-color: #eee;
  border-radius: 50%;
  margin-top: -5px;
  margin-left: -10px;
}

#time {
  margin-top: 3px;
  display: flex;
  width: 280px;
  justify-content: space-between;
}

#controls {
  width: 280px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 15px;
}

.control-play,
.control-stop,
.control-pause {
  width: 60px;
  cursor: pointer;
}

.control-skip_previous,
.control-skip_next {
  width: 50px;
  cursor: pointer;
}

.control-stop,
.control-pause {
  display: none;
}



